.button {
	background: linear-gradient(297.28deg, #F66E6E 67.01%, rgb(246 110 110 / 0%) 123.71%);
	border-radius: 999px;
	padding: 15px 10px;

	> p {
		font-family: Poppins, sans-serif;
		font-weight: 400;
		font-size: 19.86px;
		line-height: 29.79px;
		color: white;
		text-align: center;
		margin: 0;
	}
}
